.matlada-list-container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    justify-content: center;
  }
  
  .matlada-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px; 
    margin: 0 auto;
    color: #3b3b3b;

  }
  
  .matlada-form input, .matlada-form select, .matlada-form button {
    padding: 8px;
    border-radius: 4px;
  }
  
  .matlada-list {
    list-style: none;
    padding: 0;
  }
  
  .matlada-item {
    perspective: 1000px; 
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    justify-content: center;
  }
  
  .flip-card {
    width: 300px;
    height: 200px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .flip-card-front {
    background-color: #fff;
    color: black;
  }
  
  .flip-card-back {
    background-color: #f1f1f1;
    color: black;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px; 
  }
  
.button-style {
    background-color: #948d99; 
    padding: 5px 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .button-style:hover {
    background-color: black; 
    color: white; 
  }
  
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Slide-out animation */
@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.matlada-form-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  z-index: 10;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.slide-in {
  animation: slideInFromLeft 0.5s ease-out forwards;
}

.slide-out {
  animation: slideOutToLeft 0.5s ease-out forwards;
}


::placeholder{
  color: #dddddd
}